/*======Colors======*/
$primary-color: #3e00ff;
$text-color: #4d4d4d;
$background-color: #f6f9ff;

/*======Font======*/
@font-face {
  font-family: "libre-franklin";
  src: url("../../Assets/Fonts/LibreFranklin-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

/*======Globals======*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "libre-franklin";
  font-size: 62.5%;
  line-height: 1.5;
  background-color: $background-color;
  scroll-behavior: smooth;
}

.body__hidden {
  overflow: hidden;
}

.container {
  width: 90%;
  max-width: 99.2rem;
  margin: 0 auto;
}

.inactive {
  display: none;
}
.visible {
  display: block;
}
