/*======Colors======*/
/*======Font======*/
@font-face {
  font-family: "libre-franklin";
  src: url("../../Assets/Fonts/LibreFranklin-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}
/*======Globals======*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "libre-franklin";
  font-size: 62.5%;
  line-height: 1.5;
  background-color: #f6f9ff;
  scroll-behavior: smooth;
}

.body__hidden {
  overflow: hidden;
}

.container {
  width: 90%;
  max-width: 99.2rem;
  margin: 0 auto;
}

/*======Header======*/
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 1.6rem;
}
.header__nav {
  position: fixed;
  left: 100%;
  top: 5.2rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-size: 1.6rem;
  background-color: #f6f9ff;
  transition: left 0.3s;
}
.header__nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
  list-style: none;
}
.header__nav-menu li a {
  color: #4d4d4d;
  text-decoration: none;
  cursor: pointer;
}
.header__nav-menu li:hover a {
  color: #3e00ff;
}
.header__toggle {
  background: none;
  border: none;
  cursor: pointer;
}
.header__toggle .button__img {
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  background-image: url("../../Assets/Icons/menu.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.header .menu-visible {
  left: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  margin-top: 4.8rem;
}
.hero__info img {
  width: 9rem;
}
.hero__info-title {
  font-size: 3.2rem;
}
.hero__info-title .em-v {
  font-size: 2.4rem;
}
.hero__info-description {
  margin-top: 1.6rem;
  font-size: 1.6rem;
}
.hero__info-description b {
  color: #3e00ff;
}
.hero__social {
  display: flex;
  gap: 1.6rem;
  margin-top: 1.6rem;
}
.hero__social a img {
  width: 3.2rem;
  cursor: pointer;
}
.hero__image {
  position: relative;
  margin-top: 1.6rem;
}
.hero__image-decoration {
  position: absolute;
  top: 25%;
  left: 2.4rem;
  width: 25%;
  z-index: -1;
}
.hero__image-profile {
  display: block;
  width: 70%;
  margin: 0 auto;
}

.about {
  position: relative;
  margin-top: 4.8rem;
}
.about__title {
  font-size: 2.4rem;
}
.about__info {
  margin-top: 1.6rem;
  padding: 1.6rem;
  border-radius: 1.6rem;
  background-color: #fff;
}
.about__info-title {
  font-size: 2rem;
}
.about__info-description {
  margin-top: 1.6rem;
  font-size: 1.6rem;
}
.about__info-titleSkills {
  margin-top: 1.6rem;
  font-size: 1.6rem;
}
.about__info-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1.6rem;
}
.about__info-skills .skill__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}
.about__info-skills .skill__container small {
  font-size: 1.2rem;
  font-weight: 900;
}
.about__teach {
  margin-top: 1.6rem;
  padding: 1.6rem;
  border-radius: 1.6rem;
  background-color: #fff;
}
.about__teach-title {
  font-size: 2rem;
}
.about__teach-title .em-pencil2 {
  font-size: 1rem;
}
.about__teach-description {
  margin-top: 1.6rem;
  font-size: 1.6rem;
}
.about__teach-description a {
  font-weight: 600;
  color: #3e00ff;
  text-decoration: none;
  cursor: pointer;
}
.about__teach-description a:hover {
  text-decoration: underline;
}
.about__decoration {
  position: absolute;
  right: 0;
  margin-top: 2.4rem;
  width: 9rem;
}

.projects {
  margin-top: 4.8rem;
  margin-bottom: 50px;
}
.projects__title {
  font-size: 2.4rem;
}
.projects__areas {
  display: flex;
  justify-content: space-between;
  margin-top: 1.6rem;
}
.projects__areas li {
  width: 33%;
  text-align: center;
  list-style: none;
}
.projects__areas li button {
  width: 100%;
  height: 100%;
  padding: 0.4rem;
  border: none;
  background: none;
  font-size: 1.4rem;
  color: #4d4d4d;
  cursor: pointer;
  outline: none;
}
.projects__areas .line-visible {
  border-bottom: 0.4rem solid #3e00ff;
}
.projects__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.4rem;
  margin-top: 2.4rem;
}
.projects__cards .card {
  width: 90%;
  height: auto;
  max-width: 40rem;
  border-radius: 1.6rem;
  background: #fff;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.2);
}
.projects__cards .card__img {
  width: 100%;
  border-top-left-radius: 1.6rem;
  border-top-right-radius: 1.6rem;
}
.projects__cards .card__tags {
  display: flex;
  gap: 1.6rem;
  margin-top: 0.8rem;
  padding: 0 1.6rem;
}
.projects__cards .card__tags .html,
.projects__cards .card__tags .css,
.projects__cards .card__tags .sass,
.projects__cards .card__tags .js,
.projects__cards .card__tags .wordpress {
  padding: 0.1rem 0.4rem;
  border-radius: 0.4rem;
  font-size: 1.2rem;
}
.projects__cards .card__tags .html {
  border: 1px solid #e44d26;
  color: #e44d26;
}
.projects__cards .card__tags .css {
  border: 1px solid #1572b6;
  color: #1572b6;
}
.projects__cards .card__tags .sass {
  border: 1px solid #cd6799;
  color: #cd6799;
}
.projects__cards .card__tags .js {
  border: 1px solid #f7df1e;
  color: #f7df1e;
}
.projects__cards .card__tags .wordpress {
  border: 1px solid #1b769c;
  color: #1b769c;
}
.projects__cards .card__title {
  margin-top: 0.8rem;
  padding: 0 1.6rem;
  font-size: 1.6rem;
}
.projects__cards .card__description {
  margin-top: 0.8rem;
  padding: 0 1.6rem;
  font-size: 1.2rem;
}
.projects__cards .card__callToAction {
  display: flex;
  gap: 2.4rem;
  margin: 1.6rem 0;
  padding: 0 1.6rem;
}
.projects__cards .card__callToAction .button a {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  color: #3e00ff;
}
.projects__cards .card__callToAction .button a .demo {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.4rem;
  background-image: url("../../Assets/Icons/demo.svg");
  background-repeat: no-repeat;
  background-size: 1.2rem;
}
.projects__cards .card__callToAction .button a .code {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.4rem;
  background-image: url("../../Assets/Icons/code.svg");
  background-repeat: no-repeat;
  background-size: 1.2rem;
}
.projects__visible {
  display: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  max-width: 70rem;
  margin: 8rem auto 2.4rem;
}
.footer a {
  font-size: 1.4rem;
  color: #3e00ff;
  text-decoration: none;
  cursor: pointer;
}
.footer a:hover {
  font-weight: 700;
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
